<html>
    <head><title>Test Template</title></head>
    <body>
    	<div>
	    	My Home Directory is <TMPL_VAR NAME=HOME>
	    	My Path is set to <TMPL_VAR NAME=PATH></TMPL_VAR>
	    <div>
    </body>
</html>