<html>
    <head>
	<title>Inbox</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    </head>
    <body>
	<div class="container">
    	<div>
	    	My Home Directory is <TMPL_VAR NAME=HOME>
	    	My Path is set to <TMPL_VAR NAME=PATH>
	<div>
	<div class="panel panel-default">
		<div class="panel-heading">Inbox</div>
		<table class="table table-hover">
			<thead>
				<tr>
				<th>From</th>
				<th>Subject</th>
				<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<TMPL_VAR NAME=TABLE>
			</tbody>
		</table>
	</div>
	</div>
    </body>
</html>
