<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ubuntu Mailbox</title>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Ubuntu mailbox</h1>
				<p class="lead">Check your mail</p>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h4>Menu</h4>
					<ul>
						<li><a href="/cgi-bin/inbox.pl">Inbox</a></li>
						<li><a href="/cgi-bin/newmail.pl">New mail</a></li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Mail</h3>
					  	</div>
					  	<div class="panel-body">
					    	
					  	</div>
					  	<ul class="list-group">
						    <li class="list-group-item">
						    	<strong>From: </strong>
						    	<TMPL_VAR NAME=FROM>
						    </li>
						    <li class="list-group-item">
						    	<strong>Date: </strong>
						    	<TMPL_VAR NAME=DATE>
						    </li>
						    <li class="list-group-item">
						    	<strong>Subject: </strong>
						    	<TMPL_VAR NAME=SUBJECT>
						    </li>
						    <li class="list-group-item">
						    	<TMPL_VAR NAME=MAIL>
						    </li>
						</ul>
					</div>
					<h4>Reply :</h4>
					<form action="send.pl" method="POST" role="form">
						<div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="text" class="form-control" name="email" placeholder="Enter email">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Your name</label>
						    <input type="email" class="form-control" name="name" placeholder="Enter email">
						</div>
						<div class="form-group">
						    <label for="exampleInputEmail1">Mail</label>
						    <textarea class="form-control" rows="5" name="favorite_color"></textarea>
						</div>
					   	<p>Age: <input type="text" name="age"></p>
					<input type="submit" value="Send" class="btn btn-default">
					<input type="reset" value="Clear Form" class="btn btn-default">
					</form>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
